.labelCardsContainer {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 300px;
  padding-left: 45px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.labelCardContainer {
  background-color: transparent;
  color: white;
  width: 100%;
  text-align: left;

  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-top: 10px;
  margin-top: 10px;
}
