.YoYoContainer {
  display: flex;
  flex-direction: column;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: auto;
}

.YoYoBoxContainer {
  border: 1px solid #F5F5F5;
  padding: 16px;
  border-radius: 2px;
}

.YoYoInputArea {
  width: 100%;
  text-align: center;
}

.YoYoCommentTextArea {
  border-radius: 2px;
	border: 1px solid lightgrey;
  font-size: 9.6px;
  line-height: 14.4px;
  width: 100%;
  min-height: 80px;
  text-align: left;
	font-size: 14px;
}

.YoYoUserAction {
  width: 100%;
  text-align: right;
	margin-top: 10px;
}

.YoYoEmailInputBase {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid lightgrey;
	border-radius: 2px;
	margin-right: 10px;
}

.YoYoEmailInput {
  composes: YoYoEmailInputBase;

	min-width: 200px;
}

@media (max-width: 600px) {
  .YoYoEmailInput {
    composes: YoYoEmailInputBase;

    min-width: 60%;
  }
}

.YoYoWatchButton {

}

.YoYoButtonBase {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid lightgrey;
	border-radius: 2px;
	background: transparent;
}


.YoYoCommentPublishButton {
  composes: YoYoButtonBase;
	padding: 6px 12px;
	font-size: 14px;
}

.YoYoCommentListContainer {
  /* width: 100%; */
  /* border: 1px solid; */
  border: 1px solid #F5F5F5;
  padding: 16px;
  border-radius: 2px;
}

.YoYoCommentItemUserAndDate {
}

.YoYoCommentItemContainer {
	/* border-bottom: 1px solid lightgrey; */
}

.YoYoCommentItemContainer:hover {
  background-color: #F5F5F5;
}

.YoYoCommentItemUser {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 11.2px;
	color: #000000;
	line-height: 14.4px;
  font-size: 14px;
  line-height: 1.4;
  text-rendering: auto;
}

.YoYoCommentItemDate {
	font-size: 12px;
	color: rgba(0,0,0,0.38);
	line-height: 1.4;
	padding-left: 15px;
	padding-right: 15px;
}

.YoYoCommentItemText {
	padding-left: 15px;
	padding-right: 15px;
}

.YoYoCommentItemText p {
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
  margin-bottom: 0px;
}

.YoYoOpenIcon {
  display: flex;
  flex: 1 1 auto;
  margin: auto;
}

.YoYoLabelTitleBase {
  margin: auto;
  flex: 1 1 auto;
  font-size: 12px;
  color: lightgrey;
}

.YoYoLabelTitle {
  composes: YoYoLabelTitleBase;
}

.YoYoCloseIcon {
  composes: YoYoOpenIcon;
}

.YoYoReplyButtonContainer {
  text-align: right;
}

.YoYoReplyButton {
  composes: YoYoButtonBase;
	font-size: 12px;
}

.YoYoReplyButton:hover {
  background-color: lightgrey;
}
