{
  "extends": "airbnb/base",
  "env": {
    "mocha": "true"
  },
  "rules": {
    "arrow-body-style": 0,
    "no-console": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "strict": 0,
    "semi": ["error", "never"]
  },
  "parser": "babel-eslint"
}
