{
  "extends": "airbnb/base",
  "env": {
    "jest/globals": true,
    "mocha": "true"
  },
  "rules": {
    "arrow-body-style": 0,
    "no-console": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "strict": 0,
    "semi": ["error", "never"],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error"
  },
  "parser": "babel-eslint",
  "plugins": [
    "jest"
  ]
}
