.searchBoxContainer {
  /* background-color: purple; */
  display: flex;
  /* justify-content:center; */
  align-items: center;


  margin-top: 10%;
  margin-bottom: 10px;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.searchInput {
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.searchIcon {
  /* position: absolute; */
  /* top: 50%; */
  margin-left: -20px;
  /* margin-top: 17px; */
  z-index: 1;
  color: #4f5b66;
}

.white-on-hover:hover {
  outline: none;
  background: #ffffff;
}

.white-on-focus:focus {
  outline: none;
  background: #ffffff;
}

.white-on-active:active {
  outline: none;
  background: #ffffff;
}

.inputHover {
  composes: white-on-hover;
  composes: white-on-focus;
  composes: white-on-active;
}
