.YoYoCommentItemContainer {
	/* border-bottom: 1px solid lightgrey; */
  padding: 10px;
  margin: auto;
  overflow: hidden;
}

.YoYoCommentItemContainer:hover {
  padding: 10px;
  background-color: #F5F5F5;
}

@media (min-width: 801px) {
  .YoYoCommentItemContainer {
    max-width: 600px;
  }
}

.YoYoCommentItemUser {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 11.2px;
	color: #000000;
	line-height: 14.4px;
  font-size: 14px;
  line-height: 1.4;
  text-rendering: auto;
}

.YoYoCommentItemDate {
	font-size: 12px;
	color: rgba(0,0,0,0.38);
	line-height: 1.4;
	padding-left: 15px;
	padding-right: 15px;
  word-break: break-all;
}

.YoYoCommentItemDate a {
  text-decoration: none;
}

.YoYoCommentItemText {
	padding-left: 15px;
	padding-right: 15px;
}

.YoYoCommentItemText p {
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
  margin-bottom: 0px;
}

.YoYoCommentItemDeleteButtonContainer {
  float: right;
}

.YoYoCommentItemDeleteButton {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid lightgrey;
	border-radius: 2px;
	background: transparent;
  color: red;
}
