.YoYoUserAction {
  width: 100%;
  text-align: right;
	margin-top: 10px;
}

.YoYoEmailInputBase {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid lightgrey;
	border-radius: 2px;
	margin-right: 10px;
}

.YoYoEmailInput {
  composes: YoYoEmailInputBase;

	min-width: 200px;
}

@media (max-width: 600px) {
  .YoYoEmailInput {
    composes: YoYoEmailInputBase;

    min-width: 60%;
  }
}

.YoYoWatchButton {

}

.YoYoButtonBase {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid lightgrey;
	border-radius: 2px;
	background: transparent;
}


.YoYoCommentPublishButton {
  composes: YoYoButtonBase;
	padding: 6px 12px;
	font-size: 14px;
}
