.YoYoUserAction {
  width: 100%;
  text-align: right;
  margin-top: 10px;
}

.YoYoEmailInputBase {
  outline: none;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-right: 10px;
  position: inherit;
}

.YoYoEmailInput {
  composes: YoYoEmailInputBase;

  font-size: 1vmin;
  min-width: 200px;
}

@media (max-width:800px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
 /* smartphones, Android phones, landscape iPhone */
 /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .YoYoEmailInput {
    composes: YoYoEmailInputBase;

    font-size: 3.2vmin;
    min-width: 60%;
  }
}
@media (min-width:801px) and (min-width:1025px) and  (min-width:1281px) {
/* tablet, landscape iPad, lo-res laptops ands desktops */
 /* big landscape tablets, laptops, and desktops */
 /* hi-res laptops and desktops */
  .YoYoEmailInput {
    composes: YoYoEmailInputBase;

    font-size: 2vmin !important;
  }
}

.YoYoButtonBase {
  outline: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid lightgrey;
  border-radius: 2px;
  background: transparent;
}


.YoYoCommentPublishButton {
  composes: YoYoButtonBase;

  padding: 6px 12px;
  font-size: 1vmin;
}

@media (max-width:800px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
 /* smartphones, Android phones, landscape iPhone */
 /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .YoYoCommentPublishButton {
    composes: YoYoButtonBase;

    font-size: 3.2vmin !important;
  }
}

@media (min-width:801px) and (min-width:1025px) and  (min-width:1281px) {
/* tablet, landscape iPad, lo-res laptops ands desktops */
 /* big landscape tablets, laptops, and desktops */
 /* hi-res laptops and desktops */
  .YoYoCommentPublishButton {
    composes: YoYoButtonBase;

    font-size: 2vmin !important;
  }
}

