{
  "extends": "airbnb",
  "globals": {
    "React": true,
    "config": true,
    "describe",
    "context",
    "before",
    "beforeEach",
    "after",
    "afterEach",
    "it",
    "expect"
  },
  "parser": "babel-eslint",
  "plugins": ["mocha"],
  "rules": {
    "no-alert": 0,
    "new-cap": 0,
    "max-len": 0,
    "semi": ["error", "never"],
    "no-underscore-dangle": 0,
    "react/jsx-curly-spacing": [2, "always"],
    "mocha/no-exclusive-tests": 2,
    "no-console": ["error", { "allow": ["warn", "error"] }],
  }
}
